<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App Team</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "ubuntu", sans-serif !important;
        background-color: #140b29 ;
        min-height: 100vh;
        overflow-x: hidden;
      }
      h1{
        display: flex;
        justify-content: center;
        margin: 100px;
        color:#c87fff;
      }
</style>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1>To be updated Soon</h1>
    <%- include('./partials/footer') %>
    
  </body>
</html>